<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Etern!ty</title>
</head>

<body>

  <h1>Etern!ty</h1>
  {% if msg %}
  <h1>{{msg}}</h1>
  {% endif%}

    <form method="post" action = "/vaccine" >
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="adhar_no" name = "adhar_no">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="dob" name = "dob">
          </div>
        </div>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="vaccine_id" name = "vaccine_id">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="batch_details" name = "batch_details">
            </div>
          </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>